<section class="cart-holder{% if cart.items.empty? %} hidden{% endif %}">
    <a href="/cart">
        <div class="title">{{ 'cart.title' | t }}</div>
        <div class="summary">
            <span class="items">{{ cart.quantity }}{% if cart.quantity == 1 %} {{ 'cart.item' | t}} {% else %} {{ 'cart.items' | t }} {% endif %}</span>
            -
            <span class="total">{{ cart.total | money }}</span>
        </div>
    </a>
    {% if cart.items.any? %}
        <div class="cart-contents">
            <table>
                {% for item in cart.items %}
                    <tr class="cart-item">
                        <td class="picture"><a href="{{ item.product.url }}">
                            {% if item.product.image %}
                                {{ item.product.image.size-50.url | image_tag: item.product.name }}
                            {% else %}
                                <img src="http://placehold.it/50x50" alt=""/>
                            {% endif %}
                        </a></td>
                        <td class="name"><a href="{{ item.product.url }}">{{ item.product.name }}</a></td>
                        <td class="quantity">{{ item.quantity }}</td>
                        <td class="price">{{ item.total | money }}</td>
                    </tr>
                {% endfor %}
            </table>
            <div class="buttons">
                <form action="/cart/checkout" method="POST">
                    <button type="submit" class="right">{{ 'checkout' | t }}</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    {% endif %}
</section>