<tr class="cart-item">
    <td class="picture">
        {% if item.product.image %}
            {{ item.product.image.size-50.url | image_tag: item.product.name }}
        {% else %}
            <img src="http://placehold.it/50x50" alt=""/>
        {% endif %}
    </td>
    <td class="title">
        {{ item.product.name }}
    </td>
    <td class="quantity">
        <button class="quantity decrease" type="button">
            <span class="icon-minus"></span>
        </button>
        <div class="field">
            <input type="text" value="{{ item.quantity }}" name="update[{{ item.id }}]" placeholder="{{ 'cart.quantity_placeholder' | t }}"/>
        </div>
        <button class="quantity increase" type="button">
            <span class="icon-plus"></span>
        </button>
    </td>
    <td class="price-column">
        <div class="price">{{ item.total | money }}</div>
    </td>
</tr>