{% include "crumbs" %}
<section role="main">
    <div class="row">
        <div class="columns large-6">
            <aside class="account-navigation">
                <header>
                    <div class="title">{{ 'account.title' | t }}</div>
                </header>
                <ul>
                    <li><a href="javascript:void(0);">{{ 'account.wishlist' | t }}</a></li>
                    <li><a href="javascript:void(0);">{{ 'account.my_orders' | t }}</a></li>
                    <li class="active"><a href="javascript:void(0);">{{ 'account.settings' | t }}</a></li>
                </ul>
            </aside>
        </div>
        <div class="columns large-8">
            <div class="content-block">
                <form action="">
                    <div class="row">
                        <div class="form-col large-24">
                            <div class="field">
                                <input type="text" placeholder="{{ 'account.first_name' | t }}"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-col large-24">
                            <div class="field">
                                <input type="text" placeholder="{{ 'account.last_name' | t }}"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-col large-24">
                            <div class="field">
                                <input type="text" placeholder="{{ 'account.email' | t }}"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-col large-24">
                            <div class="field">
                                <input type="password" placeholder="{{ 'account.password' | t }}"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-col large-24">
                            <div class="field">
                                <input type="password" placeholder="{{ 'account.password_confirm' | t }}"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-col large-20">
                            <div class="field radio-field">
                                <label>
                                    <input type="checkbox"/>
                                    <div class="label-text">
                                        {{ 'account.subscribe_to_newsletter' | t }}
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="form-col large-4">
                            <button class="expand">{{ 'account.save' | t }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>