<!--{{url.login}} {{url.logout}} {{ form_actions.new_login }}-->
<!--TODO: parse errors! <br/>-->



<section role="main">
    <div class="login-page-content">
        <div class="row">
            <div class="columns large-10 large-centered">
                <div class="content-block padded">
                    <div class="title">{{ 'sign_in' | t }}</div>
                    <form action="{{ form_actions.new_login }}" method="post">
                        {{ form_actions.auth_input }}
                        <div class="row">
                            <div class="form-col large-24">
                                <div class="field">
                                    <input type="text" name="account[email]" placeholder="{{ 'e-mail' | t }}"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-col large-24">
                                <div class="field">
                                    <input type="text" name="account[password]" placeholder="{{ 'password' | t }}"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-col large-24">
                                <div class="buttons">
                                    <button type="submit" class="right">{{ 'sign_in' | t }}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>