{% include "crumbs" %}
<section role="main">
    <div class="row">
        <div class="columns large-6">
            <aside class="account-navigation">
                <header>
                    <div class="title">MY ACCOUNT</div>
                </header>
                <ul>
                  <!--<li><a href="javascript:void(0);">Wishlist</a></li>-->
                  <li class="active"><a href=<a href="{{url.orders}}">My Orders</a></li>
                  >
                  <li><a href="javascript:void(0);">Settings</a></li>
                </ul>
            </aside>
        </div>
        <div class="columns large-18">
            <div class="order">
                <div class="row">
                    <div class="columns large-24">
                      <div class="content-block">
                        <table>
                                <tbody>
                                    <tr>
                                      <td class="order-nr">{{order.name}}</td>
                                      <td class="amount">{{order.currency.symbol}}{{order.total}}</td>
                                      <td class="date">{{order.created_at}}</td>
                                      <td class="status">{{order.state}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="columns large-24">
                        <div class="content-block">
                            <table class="order-items">
                                <tbody>
                                {% for item in order.items %}
                                <tr class="cart-item">
                                  <td class="picture">
                                    <img src="http://placehold.it/50x50" alt=""/>
                                  </td>
                                  <td class="title">{{item.name}}</td>
                                  <td class="quantity">
                                    <!--<button class="quantity decrease" type="button">-->
                                    <!--<span class="icon-minus"></span>-->
                                    <!--</button>-->
                                    <!--<div class="field">-->
                                    <!--<input type="text" value="1" placeholder="Qty"/>-->
                                    <!--</div>-->
                                    <!--<button class="quantity increase" type="button">-->
                                    <!--<span class="icon-plus"></span>-->
                                    <!--</button>-->
                                    <div class="field">{{item.qty}}</div>
                                  </td>
                                  <td>
                                    <div class="price">
                                      <span class="currency-prefix">{{order.currency.symbol}}</span>
                                      <span class="amount">{{item.total}}</span>
                                    </div>
                                  </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="columns large-8">
                        <div class="content-block">
                            <div class="title">Subtotal</div>
                          <div class="value">{{order.currency.symbol}} {{ order.subtotal }}</div>
                        </div>
                    </div>
                    <div class="columns large-8">
                        <div class="content-block">
                            <div class="title">VAT</div>
                          <div class="value">{{order.currency.symbol}} {{ order.total_taxes }}</div>
                        </div>
                    </div>
                    <div class="columns large-8">
                        <div class="content-block">
                            <div class="title">Shipping</div>
                          <div class="value">{{order.currency.symbol}} {{ order.total_shipping }}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="columns large-24">
                        <div class="content-block">
                            <div class="title">Total</div>
                          <div class="value">{{order.currency.symbol}} {{order.total}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>