{% include "crumbs" %}
<section role="main">
    <div class="contact-page-content">
        <div class="row">
            <div class="columns large-16">
                <div class="content-block padded">
                    <div class="title">{{ 'contact.form_instructions' | t }}</div>
                    <p>{{ 'contact.response_promise' | t }}</p>

                    {% form 'contact' %}
                        <div class="row">
                            <div class="form-col large-10">
                                <div class="field">
                                    <input name="name" placeholder="{{ 'name' | t }}" type="text"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-col large-10">
                                <div class="field">
                                    <input name="email" placeholder="{{ 'email' | t }}" type="text"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-col large-10">
                                <div class="field">
                                    <input name="phone" placeholder="{{ 'phone' | t }}" type="text"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-col large-24">
                                <div class="field">
                                    <textarea name="message" id="message" cols="30" rows="10" placeholder="{{ 'message' | t }}"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="buttons">
                                <button type="submit">{{ 'contact.form_submit' | t }}</button>
                            </div>
                        </div>
                    {% endform %}
                </div>
            </div>
            <div class="columns large-8">
                <div class="content-block address padded">
                    <div class="title">{{ 'contact.location_title' | t }}</div>
                    <p class="address">
                        <strong>{{ 'contact.address_title' | t }}</strong><br>
                        Pärnu maantee, 105
                        <br>
                        11310
                        <br>
                        Tallinn, Estonia
                    </p>
                    <p class="phone">
                        <strong>{{ 'contact.phone_title' | t }}</strong><br>
                        +372 5555-5555
                    </p>
                    <div class="map">
                        <a href="javascript:void(0);">
                            <img src="http://placehold.it/340x200" alt=""/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>